@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.8s step-end infinite;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
/* @keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}
.float-1{
    animation:float 4s ease-in-out infinite;
}

.float-2{
    animation:float 5s ease-in-out infinite;
}

.float-3{
    animation:float 6s ease-in-out infinite;
}

.float-4{
    animation:float 7s ease-in-out infinite;
} */